*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Open Sans', sans-serif;
}
body{
    background: #C9C9C9;
}
header{
    width: 100%;
    height: 90px;
    background-color: #0b132b;
    
}
#ig{
    height: 650px;
    width: auto;
}

.estra{
    text-align: center;
    padding: 7%;
    background-color: #101828;
    color: #fff;
    font-size: 40px;
}
#estral1{
    width: 580px;
    height: 640px;
    margin-left: 30%;

}
#est{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#estral{
    width: 900px;
    height: 530px;
    margin-left: 20%;
}
.boton{
    background-color: #101828;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 45%;
  }